
body {
	font-family:"Lato", "Open Sans", arial, sans-serif;
	/*cursor:default;*/
	color:#909099;
	font-size:15px;
	background-color:#000000;
	width:100%;
	margin:0px;
}

#main {
	display:table;
	width:100%;
	min-height:2000px;
}

.responsive {
	width:96%;
	margin:0px 20px;
}

#header {
	position:fixed;
	width:100%;
	top:0px;
	z-index:100;
}

.header {
	padding:0px 20px;
	margin:0 auto;
	min-width:980px;
}

.egocode {
	width:130px;
	float:left;
	cursor:pointer;
	/*background-color:#0066ff;*/
}

.nav {
	width:670px;
	text-align:right;
	float:right;
	padding:0;
	margin:0;
	/*background-color:#ff6600;*/
}

.nav a {
	font-size:14px;
	line-height:16px;
	display:inline-block;
	padding:24px 10px 31px 10px;
	font-weight:400;
	text-decoration:none;
	text-align:center;
	cursor:pointer;
	color:#cccccf;
	background-color:transparent;
}

.nav a:hover {
	display:inline-block;
	color:#ffee00 !important;
	background-color:#19191f !important;
	text-decoration:none !important;
}

#Welcome {
	clear:both;
	position:fixed;
	top:100px;
	width:100%;
}

.welcome {
	display:table;
	width:100%;
	height:150px;
	background-color:#19191f;
}

.start {
	font-size:12px;
	margin:130px auto;
	padding:10px 50px;
	font-weight:bold;
	border:0;
	cursor:pointer;
	color:#cccccf;
	background-color:#29292f;
}

button:hover.start {
	color:#000000;
	background-color:#ffee00;
}

.page {
	display:none;
}

.menu {
	display:table;
	padding:190px 25px 15px 25px;
	margin:0px auto;
}

.subject {
	display:none;
	position:fixed;
	top:100px;
	width:100%;
	height:auto;
	background-color:#000000;
	text-align:left;
	font-weight:bold;
	text-decoration:none;
	z-index:200;
}

.subject-text {
	position:relative;
	color:#cccccf;
	font-size:28px;
	font-weight:300;
	padding:20px 0px 22px 0px;
	margin:auto;
}

a.to-top {
	display:none;
	position:fixed;
	left:0px;
	top:175px;
	width:100%;
	background-color:#202026;
	text-align:center;
	color:#909099;
	padding:10px 10px 12px 10px;
	font-weight:bold;
	text-decoration:none;
	cursor:pointer;
	z-index:300;
}

a:hover.to-top {
	color:#ffee00;
	background-color:#404046;
	text-decoration:none;
}

div.section-button {
	font-family:"Lato", "Open Sans", arial, sans-serif;
	display:block;
	width:99.3%;/* because I felt like it */
	text-align:left;
	padding:7px 0px 7px 10px;
	font-size:15px;
	font-weight:700;
	color:#cccccf;
	text-decoration:none;
	background-color:#303036;
	/*margin:2px 0px;*/
	border-radius:5px;
	cursor:pointer;
	border:solid 1px #19191f;
}

div:hover.section-button {
	color:#ffee00;
	background-color:#000000;
}

.cat {
	/*display:table;*/
	width:75%;
	padding-top:60px;
	font-weight:400;
	cursor:pointer;
	letter-spacing:1px;
}

p {
	margin-top:0px;
}

.see {
	font-size:22px;
	color:#909099;
	margin-left:-65px;
}

.notes {
	clear:both;
	font-family:"Open Sans", arial, sans-serif;
	color:#000000;
	background-color:#dddddf;
	padding:25px;
	position:relative;
	top:-31px;
	font-size:19px;
	font-weight:400px;
	margin-bottom:50px;
}

blockquote {
	font-size:17px;
	color:#303036;
	background-color:#bbbbbf;
	margin:0;
	margin-top:25px;
	margin-bottom:-25px;
	padding:15px 100px;
}

.pre {
	margin-top:25px;
	border:0;
	font-family:'courier new', courier, sans-serif;
	font-size:17px;
	padding:30px 100px;
	color:#ffffff;
	background-color:#19191f;
	/*border-radius:5px;*/
	/*border-top:solid 2px #606066;*/
	/*border-bottom:solid 2px #606066;*/
}

.prev {
	float:right;
	font-size:15px;
	font-weight:400;
	text-transform:uppercase;
	color:#cccccf;
	background-color:#202026;
	padding:5px 20px;
	cursor:pointer;
	position:relative;
	top:-56px;
	margin-left:25px;
	margin-top:4px;
	z-index:50;
}

span:hover.prev {
	color:#000000;
	background-color:#ffee00;
}

.next {
	float:right;
	font-size:15px;
	font-weight:400;
	text-transform:uppercase;
	color:#cccccf;
	background-color:#202026;
	padding:5px 20px;
	cursor:pointer;
	position:relative;
	top:-56px;
	margin-left:25px;
	margin-top:4px;
	z-index:50;
}

span:hover.next {
	color:#000000;
	background-color:#ffee00;
}

.back-to-top {
	float:right;
	font-size:15px;
	font-weight:400;
	text-transform:uppercase;
	color:#cccccf;
	background-color:#202026;
	padding:5px 20px;
	cursor:pointer;
	position:relative;
	top:-56px;
	margin-left:25px;
	margin-top:4px;
}

span:hover.back-to-top {
	color:#000000;
	background-color:#ffee00;
}

.indent {
	padding-left:38px;
}

.hi {
	font-family:'courier new', courier, sans-serif;
	font-weight:bold;
	color:#ffffff;
	background-color:#0066ff;
}

.lo {
	font-family:'courier new', courier, sans-serif;
	color:#ffffff;
	background-color:#505056;
}

.hr {
	height:1px;
	margin:30px 0px 30px 0px;
	border-bottom:solid 2px #606066;
}

.white {
	color:#ffffff;
}

.black {
	color:#000000;
}

.blue {
	color:#0099ff;
}

.red {
	color:#ff0000;
}

.orange {
	color:#ff9900;
}

.bg-blue {
	background-color:#336699;
}

.bg-charcoal {
	background-color:#19191f;
}

.submenu {
	background-color:#19191f;
	padding:10px 0px;
}

.bg-metal {
	color:#eeeeef;
	background-color:#303036;
}

.info {
	background-color:#303036;
}

.box {
	padding:30px 20px 18px 20px;
	margin:0px auto;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:300;
	letter-spacing:-1px;
	margin:0px;
	padding:20px 0px;
	color:#ffee00;
}

a {
   outline: 0;
   color:#0066ff;
   font-weight:bold;
   text-decoration:underline;
}

a:hover {
   outline: 0;
   color:#3399ff;
   text-decoration:underline;
}

.anchor {
	padding-top:85px;
}

.top {
	background-color:transparent;
	height:600px;
}

.bottom {
	background-color:transparent;
	height:1000px;
}

.var {
	font-weight:bold;
	color:#ffffff;
	background-color:#0066ff;
}

.version {
	font-size:20px;
	color:#ffffff;
	letter-spacing:0px;
}

a.email {
	color:#909099;
	font-weight:normal;
}

a:hover.email {
	color:#cccccf;
	font-weight:normal;
}
